<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="../static/stylesheets/style-jquery.css" />
<link rel="stylesheet" href="../static/stylesheets/style.css" />
<script src="../static/js/jquery-1.9.1.js"></script>
<script src="../static/js/jquery-ui.js"></script>

<script type="text/javascript">
$(function() {
$( "#tabs" ).tabs();

setInterval(function(){

	$.get('/stuff', function(data){
		$('#tabs-1 .scroll-pane').html(data);
	});

	$.get('/stuff2', function(data){
		$('#tabs-2 .scroll-pane').html(data);
	});

	$.get('/stuff3', function(data){
		$('#tabs-5 .scroll-pane').html(data);
	});
}, 1000);
});
</script>

</head>
<body>

<div id="header">

</div>

<div id="container">

	<div id="center" class="column">
		<div id="tabs">
		<ul>
		<li class="baby-monitor">
			<a href="#tabs-1">
				<img class="tab-icon" src="../static/images/baby-monitor_icon.png"></img>
				<div class="tab-text">Baby<br/>monitor</div>
			</a>
		</li>
		<li class="thermostat">
			<a href="#tabs-2">
				<img class="tab-icon" src="../static/images/thermostat_icon.png"></img>
				<div class="tab-text">Thermo-<br/>stat</div>
			</a>
		</li>
		<li class="home-surveillance">
			<a href="#tabs-3">
				<img class="tab-icon" src="../static/images/home-surveillance_icon.png"></img>
				<div class="tab-text">Home<br/>surveill</div>
			</a>
		</li>
		<li class="location-sniffer">
			<a href="#tabs-4">
				<img class="tab-icon" src="../static/images/location-sniffer_icon.png"></img>
				<div class="tab-text">Location<br/>sniffer</div>
			</a>
		</li>
		<li class="all">
			<a href="#tabs-5">
				<img class="tab-icon" src="../static/images/all_icon.png"></img>
				<div class="tab-text">All</div>
			</a>
		</li>
		</ul>
		<div id="tabs-1" class="baby-monitor">
			<h1>Baby monitor</h1>
				<div class="scroll-pane">
 					{% include 'baby_template.html' with context %}
				</div>
		</div>
		<div id="tabs-2" class="thermostat">
			<h1>Thermostat</h1>
				<div class="scroll-pane">
 					{% include 'thermo_template.html' with context %}
				</div>
		</div>
		<div id="tabs-3" class="home-surveillance">
			<h1>Home surveillance</h1>

			<img alt="" src="http://192.168.1.102:8080/?action=stream" width="401" height="320" />

		</div>
		<div id="tabs-4" class="location-sniffer">
			<h1>Location sniffer</h1>
			<p>Please see the graphs on the right hand side for sensor readings.</p>
		</div>
		<div id="tabs-5" class="all">
			<h1>All</h1>
			<div class="scroll-pane">
				{% include 'all_template.html' with context %}
			</div>
		</div>
		</div>

		<div id="graphs">

		<div class="graph">
			<img src="https://api.cosm.com/v2/feeds/125842/datastreams/baro.png?width=600&height=200&colour=%23243e02&duration=2hours&title=Pressure&show_axis_labels=true&detailed_grid=true&scale=datastream"/>
		</div>
		<div class="graph">
			<img src="https://api.cosm.com/v2/feeds/125842/datastreams/temp_1.png?width=600&height=200&colour=%23243e02&duration=2hours&title=Temperature%201&show_axis_labels=true&detailed_grid=true&scale=auto"/>
		</div>
		<div class="graph">
			<img src="https://api.cosm.com/v2/feeds/125842/datastreams/humid.png?width=600&height=200&colour=%23243e02&duration=2hours&title=Humidity&show_axis_labels=true&detailed_grid=true&scale=auto"/>
		</div>
		<div class="graph">
			<img src="https://api.cosm.com/v2/feeds/125842/datastreams/dif_press.png?width=600&height=200&colour=%23243e02&duration=2hours&title=Pressure%20Diff&show_axis_labels=true&detailed_grid=true&scale=auto"/>
		</div>

		</div>
	</div>

	<div id="left" class="column">
		<div class="logo"></div>
	</div>
</div>

<div id="footer">DaisyPi is a product developed in 24 hours at the RaspberryPi Hackathon Bucharest on April 20-21st 2013 by Rape, Alva, Vaba and Jls. Enjoy.  </div>


</body>
</html>