@font-face {
	font-family: Michroma;
	src: url('../fonts/Michroma.ttf');
}

@font-face {
	font-family: OpenSans-CondLight;
	src: url('../fonts/OpenSans-CondLight_0.ttf');
}

@font-face {
	font-family: OpenSans-ExtraBold;
	src: url('../fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
	font-family: OpenSans-Light;
	src: url('../fonts/OpenSans-Light.ttf');
}

/*** The Essential Code ***/

html {
	height: 100%;
}


body {
	min-width: 550px;
	font-family: Michroma, sans-serif;
	font-size: 11px;
	height: 100%;
}

#container {
	padding-left: 200px;      /* LC width */
	min-height: 100%;
	height: 100%;
}

#container .column {
	position: relative;
	float: left;
	min-height: 100%;
	height: 100%;
}

#center {
	width: 100%;
}

#left {
	width: 200px;             /* LC width */
	right: 200px;             /* LC width */
	margin-left: -100%;
}



#footer {
	clear: both;
}

/*** IE6 Fix ***/
* html #left {
	left: 150px;              /* RC width */
}

/*** Just for Looks ***/

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	line-height: 2em;
}

h1 {
	font-size: 30px;
	margin-bottom: 30px;

}

.content {
	margin-top: 140px;
}

#footer {
	background: #000;
	color: #212121;
	padding: 1em;
	height: 1em;
	padding-bottom: 1.5em;
	padding-top: 0.5em;
	bottom: 0px;
	position: fixed;
	width: 100%;
}

#left {
	background: #fff;
}

#center {
	background: #fff;
	min-height: 100%;
}

.logo {
	background: url("../images/daisypi_logo.jpg") no-repeat;
	width: 103px;
	height: 147px;
	margin: auto;
	margin-top: 30px;
}

#tabs {
	width: 40%;
	float: left;
	height: 100%;
	min-height: 100%;
}

#graphs{
	float: left;
	width: 55%;
	color: 000;
}

#graphs .graph {
	padding: 10px 0px 20px 20px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	width: 20%;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	height: 80px;
	text-decoration: none;
}

.ui-tabs .ui-tabs-panel {
	height: 100%;
	min-height: 100%;
	margin-top: -120px;

}

#tabs .baby-monitor, #tabs ul li.baby-monitor .tab-text {
	background: #fff91a;
	color: #4d4b00;
}

#tabs .thermostat, #tabs ul li.thermostat .tab-text {
	background: #406d05;
	color: #a1df50;
}

#tabs .home-surveillance, #tabs ul li.home-surveillance .tab-text  {
	background: #243e02;
	color: #7da24d;
}

#tabs .location-sniffer, #tabs ul li.location-sniffer .tab-text {
	background: #bc1142;
	color: #ffb8cc;
}

#tabs .all, #tabs ul li.all .tab-text {
	background: #232323;
	color: #9a9a9a;
}

a {
	transition: all 0.3s ease-in 0s;
	cursor: pointer;
}

#tabs ul li img.tab-icon {
	width: 43px;
	height: 43px;
	position: absolute;
	float: left;
	top: 50%;
	margin-top: -21px;
	left: 50%;
	margin-left: -21px;
	transition: all 0.2s ease-in 0s;
}

#tabs ul li:hover img.tab-icon {
	top: 60%;

	opacity: 0;
}

#tabs ul li .tab-text {
	position: absolute;
	float: left;
	transition: all 0.2s ease-in 0s;
	top: 50%;
	margin: auto;
	margin-top: -2em;
	opacity: 0;
	text-transform: uppercase;
	font-size: 9px;
}

#tabs ul li:hover .tab-text {
	position: absolute;
	float: left;
	top: 50%;
	margin-top: -1em;
	opacity: 1;
}

#tabs ul li.all:hover .tab-text {
	margin-top: -0.5em;
}

#tabs ul li .tab-text {
	margin-top: -1.5em;
}

.scroll-pane {
	height: 450px;
}

.msg {
	width: 100%;
	float: left;
	margin-bottom: 1.5em;
}

.msg .msg-time {
	float: left;
	font-family: OpenSans-Light, sans-serif;
	letter-spacing: 3px;
	width: 100%;
}

.msg .msg-text {
	float: left;
}